<ion-content>
    <div class="page-container has-header" (scroll)="checkScroll($event)">
        
        <ion-card class="video-container " *ngIf="lastVideo != null">
            <h5 class="ion-text-center gradient-green dark color-white" style="margin: 0px; height: 30px;">
                THIS WEEK'S LESSON
            </h5>
            <img [src]="lastVideo.thumbnail_link" alt="Video Thumbnail" (click)="navigateToVideoSummary()"/>
            <ion-card-header class="ion-padding">
                <ion-row>
                    <ion-col size="12">
                        <ion-card-title class="font-poppins">
                            {{language.getCurrentLanguage() == 'english' ? lastVideo.title_in_english : lastVideo.title_in_french}}
                        </ion-card-title>
                        <ion-card-subtitle class="font-poppins">
                            {{language.getCurrentLanguage() == 'english' ? lastVideo.description_in_english : lastVideo.description_in_french}}
                        </ion-card-subtitle>
                    </ion-col>
                   
                </ion-row>
            </ion-card-header>
        </ion-card>

        <ion-card class="surveys-card surveys-wellness gradient-green to-left dark">
            <h5 class="ion-text-center color-white">
                    <!-- {{language.getWordByLanguage('getWellingScore')}} -->
                    GET YOUR WELLBEING SCORE
            </h5>
            <ion-card-content class="card-container">
                <ion-card color="light" (click)="navigateToSurvey()">
                    <!-- <img class="icon-image" src="../../../assets/images/heartbeat.png" alt=""/> -->
                    <ion-row class="ion-text-center" style="display: block;">
                        <circle-progress
                            [percent]="lastScore"
                            [radius]="35"
                            [titleColor]="'#10D9B3'"
                            [titleFontSize]="'12'"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5"
                            [outerStrokeColor]="'#10D9B3'"
                            [innerStrokeColor]="'#E7E6E6'"
                            [animation]="true"
                            [animationDuration]="500"
                            [showSubtitle]="false"
                        >
                        </circle-progress>
                        <br>
                        <ion-label class="color-green" style="font-size: 12px !important;">
                            {{language.getWordByLanguage('lastChecked')}}
                        </ion-label>
                    </ion-row>
                    <ion-card-header class="ion-padding">
                        <ion-card-title class="ion-text-center">
                            {{language.getWordByLanguage('wellnessCheck')}}
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-card-content>
        </ion-card>

        <!-- <ion-grid >
            <ion-card class="gradient-green to-left dark">
                <ion-card-title class="ion-text-center">
                    TALK TO A COACH
                </ion-card-title>
            </ion-card> -->
            
            <ion-card class="gradient-green to-left dark">
                <h5 class="ion-text-center color-white">
                        TAKE A BREATH
                </h5>
                <div class="card-image-title ion-text-center text-uppercase">
                    {{language.getWordByLanguage('breatheIn')}}
                </div>
                <div class="gradient-underline gradient-white"></div>
                <ion-card-header class="no-padding">
                    <ion-row class="ion-padding">
                        <ion-col size="8">
                            <ion-card-title class="font-poppins color-white">
                                {{language.getWordByLanguage('breathingExercise')}}
                            </ion-card-title>
                            <ion-card-subtitle class="color-white" style="margin-top: 5px;">
                                
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button class="white-green-button" type="button" expand="block" color="primary" style="height: 40px;font-size: 10px;" (click)="navigateToTools()">
                                {{language.getWordByLanguage('play')}}
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
            </ion-card>
        <!-- </ion-grid> -->
        

        <ion-card class="coach-container gradient-green to-top dark ion-padding" style="padding-top: 3px;" *ngIf="upcomingSession.id">
            <h5 class="ion-text-center color-white">
                    BOOK YOUR NEXT SESSION WITH A COACH
            </h5>
            <div class="card-top-bar">
                <img class="avatar-image"
                     [src]="upcomingSession.coach_user_photo ? upcomingSession.coach_user_photo : '../../../assets/images/icon_user_avatar.png'"
                     alt=""/>
                <ion-button class="white-green-button" type="button" color="primary"
                            (click)="navigateToCoaching()"> NEW SESSION
                </ion-button>
            </div>
            <ion-card-header style="padding-bottom:0;">
                <ion-card-title color="light">
                    {{language.getWordByLanguage('coachingComingSoon')}}
                </ion-card-title>
                <ion-card-subtitle class="color-white">
                    {{upcomingSession.coach_user_name ? 'with ' + upcomingSession.coach_user_name : 'No matched user'}}
                </ion-card-subtitle>
                <ion-card-subtitle class="coach-info color-white">
                    {{upcomingSession.time_left}}
                </ion-card-subtitle>
<!--                <ion-button [disabled]="!upcomingSession.can_activate" class="white-green-button" expand="block" type="button"-->
<!--                            color="primary" style="height:40px;margin-top:10px;font-size:13px;" (click)="callToCoach(upcomingSession)">-->
<!--                    {{language.getWordByLanguage('contactCoach')}}-->
<!--                </ion-button>-->
            </ion-card-header>
        </ion-card>

        <ion-card class="hide-box-shadow" *ngIf="reviews.length > 0">
            <ion-card-header>
                <ion-card-title>
                    {{language.getWordByLanguage('whatUsersSay')}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="no-padding">
                <ion-slides pager="true" [options]="slidesOpts">
                    <ion-slide *ngFor="let review of reviews">
                        <ion-card class="wide-full gradient-green to-left dark slide-card">
                            <div class="card-top-bar ion-padding">
                                <img [src]="review.user_photo ? review.user_photo : '../../../assets/images/icon_user_avatar.png'" alt=""/>
                                <div class="card-info">
                                    <label class="card-user-name color-white ion-text-left">
                                        {{review.user_name}}
                                    </label>
                                    <label class="card-user-rating ion-text-left">
                                        <ion-rating [rate]="review.review_rating" readonly="false" size="small"></ion-rating>
                                    </label>
                                    <label class="card-user-time color-white ion-text-left">
                                        {{milliseconds(review.review_datetime) | date: 'medium'}}
                                    </label>
                                </div>
                            </div>
                            <div class="gradient-underline gradient-white"></div>
                            <ion-card-content class="ion-padding">
                                <label class="card-user-description color-white ion-text-left">
                                    {{review.review_content}}
                                </label>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
