.slide-card {
  width: 100%;
  height: 300px;

  .card-top-bar {
    height: 90px;

    img {
      float: left;
      width: 40px;
    }

    .card-info {
      float: left;
      padding-left: 20px;

      label {
        display: block;
      }

      ion-rating {
        height: 30px;
        --star-color: #CCCCCC;
        --star-color-filled: white;
      }

      .card-user-time {
        padding-left: 20px;
        font-size: 12px;
        background-image: url("../../../assets/images/icon_watch.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }

  ion-card-content {
    height: 210px;

    .card-user-description {
      display: block;
      height: 100%;
      overflow-y: auto;
    }
  }
}
