<ion-content>
    <div class="page-container">
        <div class="overlay gradient-green to-right">
            <ion-card class="wide-horizontal hide-box-shadow">
                <ion-card-header>
                    <ion-toolbar>
                        <ion-buttons slot="start" (click)="navigateToLanguage()">
                            <ion-button slot="icon-only">
                                <ion-icon name="arrow-back" color="light"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                        <ion-title class="font-poppins" color="light">{{language.getWordByLanguage('login')}}</ion-title>
                    </ion-toolbar>
                </ion-card-header>
                <ion-card-content>
                    <div class="login-form">
                        <ion-item class="border-white">
                            <ion-label class="font-poppins" color="light" position="floating">
                                {{language.getWordByLanguage('email')}}
                            </ion-label>
                            <ion-input #inputEmail class="color-white" type="email" [(ngModel)]="email"></ion-input>
                        </ion-item>
                        <ion-item class="border-white">
                            <ion-label class="font-poppins" color="light" position="floating">
                                {{language.getWordByLanguage('password')}}
                            </ion-label>
                            <ion-input #inputPassword class="color-white" type="password" [(ngModel)]="password"></ion-input>
                        </ion-item>
                        <div class="d-flex">
                            <div class="d-flex">
                                <ion-checkbox slot="start" [(ngModel)]="isSaved"></ion-checkbox>
                                <ion-label class="m-auto">{{language.getWordByLanguage('rememberPassword')}}</ion-label>
                            </div>
                            <div class="width-45">
                                <ion-label class="forgot-password ion-text-right" style="margin: 20px 0px;">
                                    <a href="javascript:" class="color-white" (click)="navigateToForgotPassword()">
                                        {{language.getWordByLanguage('forgotPassword')}}?
                                    </a>
                                </ion-label>
                            </div>
                        </div>
                        <ion-button class="white-green-button" type="button" expand="block" color="primary" (click)="loginButtonClicked()">
                            {{language.getWordByLanguage('login')}}
                        </ion-button>
                        <ion-label class="create-account ion-text-center" color="light">
                            {{language.getWordByLanguage('notMember')}}
                            <a href="javascript:" class="color-white" (click)="navigateToRegister()">
                                {{language.getWordByLanguage('register')}}
                            </a>
                        </ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
