ion-item {
  --padding-start: 0;
  --background: transparent;
  //--border-color: #3880ff;
  --highlight-color-focused: #3880ff;
  --highlight-color-valid: #3880ff;
  --highlight-color-invalid: #3880ff;
}

.item-has-focus .label-floating,
.item-has-focus .label-stacked {
  color: #3880ff !important;
}

.country-flag {
  margin: 25px 35px 16px 0;
}

.remember-me {
  margin-top: 20px;

  ion-label {
    margin: 0;
    padding-top: 3px;
  }
}

.has-carrot:before {
  top: 30px;
  left: 30px;
}

.accept-terms {
  margin-bottom: 30px;

  ion-label {
    margin: 0;
    padding-top: 5px;
  }
}

.create-account {
  display: block;
  margin-top: 50px;
}
