<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="navigateToLogin()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{language.getWordByLanguage('register')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container ion-padding">
    <div class="login-form">
      <ion-item>
        <ion-label class="font-poppins" position="floating">
          {{language.getWordByLanguage('fullName')}}
        </ion-label>
        <ion-input #inputFullName type="text" [(ngModel)]="fullName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-poppins" position="floating">
          {{language.getWordByLanguage('email')}}
        </ion-label>
        <ion-input #inputEmail type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-poppins" position="floating">
          {{language.getWordByLanguage('password')}}
        </ion-label>
        <ion-input #inputPassword type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-poppins" position="floating">
          {{language.getWordByLanguage('passwordConfirm')}}
        </ion-label>
        <ion-input #inputConfirmPassword type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
      <ion-item class="phone-number has-carrot carrot-gray">
        <img slot="start" class="country-flag" [ngClass]="'iti__' + country.iso2" (click)="openCountriesModal()" />
        <ion-label class="font-poppins" position="floating">
          {{language.getWordByLanguage('phoneNumber')}}
        </ion-label>
        <ion-input #inputPhoneNumber type="number" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
      <ion-item class="remember-me border-white" [ngClass]="rememberMe ? 'checked' : ''" (click)="toggleRememberMe()">
        <input class="checkbox" type="checkbox" slot="start" />
        <ion-label class="ion-text-wrap font-poppins">
          {{language.getWordByLanguage('rememberMe')}}
        </ion-label>
      </ion-item>
      <ion-item class="accept-terms border-white" [ngClass]="acceptTerms ? 'checked' : ''" (click)="toggleAcceptTerms()">
        <input class="checkbox" type="checkbox" slot="start" />
        <ion-label class="ion-text-wrap font-poppins"> 
         <span >{{language.getWordByLanguage('acceptTerms')}}</span> 
        </ion-label>
      </ion-item>
      <ion-button class="gradient-green-button" type="button" expand="block" color="primary" (click)="registerButtonClicked()">
        {{language.getWordByLanguage('register')}}
      </ion-button>
      <ion-label class="create-account ion-text-center">
        {{language.getWordByLanguage('alreadyMember')}}
        <a class="color-green" href="javascript:" (click)="navigateToLogin()">{{language.getWordByLanguage('login')}}</a>
      </ion-label>
    </div>
  </div>
</ion-content>

