<div class="page-container">
  <ion-card class="wide-full hide-box-shadow" style="padding-top: 50px;">
    <ion-card-header class="ion-padding ion-text-center">
      <ion-card-title>{{title[language.getCurrentLanguage()]}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <img src="../../../assets/images/icon_user_avatar.png" alt="User Avatar" />
      <ion-rating [rate]="rating" (rateChange)="rating = $event"></ion-rating>
    </ion-card-content>
    <ion-card-content>
      <ion-label>Leave Comment</ion-label>
      <textarea id="inputComment" [(ngModel)]="comment"></textarea>
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      <label style="font-size: 10px;">
        {{language.getWordByLanguage('secureStore')}}
      </label>
      <ion-button class="gradient-green-button" expand="block" type="button" color="primary" style="margin-top: 15px;" (click)="submitReview()"> SUBMIT REVIEW </ion-button>
    </ion-card-content>
  </ion-card>
</div>
