.top-bar {
  .logo-image {
    display: block;
    width: 250px;
    margin: 180px auto;
  }
}

.language-title {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.buttons-container {
  position: absolute;
  width: 100%;
  top: 60%;

  ion-button {
    margin-top: 20px;
  }
}
