<div class="video-player" (click)="toggleVideoControls()">
    <video id="player"  autoplay webkit-playsinline playsinline [src]="source" (loadstart)="isLoading = true" (loadeddata)="videoLoaded()" (timeupdate)="timeUpdate()" (volumechange)="volumeChange()"></video>
    <div class="video-overlay" *ngIf="isLoading">
        <div class="loading-spinner-container">
            <div class="loading-spinner-outer">
                <div class="loading-spinner-inner">
                    <div class="loading-spinner-bubble"></div>
                </div>
            </div>
            <div class="loading-message">Loading Video...</div>
        </div>
    </div>
</div>
<div *ngIf="controls" class="video-controls{{fixedControls ? ' fixed' : ''}}" [ngClass]="showVideoControls ? 'opened' : ''">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="toggleVideoPlay()">
                <ion-icon *ngIf="!isPlaying" name="play" size="small" [color]="fixedControls ? 'dark' : 'light'" color="light"></ion-icon>
                <ion-icon *ngIf="isPlaying" name="pause" size="small" [color]="fixedControls ? 'dark' : 'light'" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div class="video-seek-bar">
            <div class="video-time-label-container">
                <ion-label class="time-label time-start" [color]="fixedControls ? 'dark' : 'light'" color="light" slot="start">{{playedTimeLabel}}</ion-label>
                <ion-label class="time-label time-end" [color]="fixedControls ? 'dark' : 'light'" color="light" slot="end">{{endTimeLabel}}</ion-label>
            </div>
            <ion-range min="0" [max]="duration" step="0.1" pin="false" [value]="currentTime" (ionChange)="seekBarChange($event)"></ion-range>
        </div>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="toggleVolumeControls()">
                <ion-icon name="volume-high" color="light" [color]="fixedControls ? 'dark' : 'light'"></ion-icon>
            </ion-button>
            <div class="volume-controls" [ngClass]="showVolumeControls ? 'opened' : ''">
                <ion-range min="0" max="1" step="0.1" pin="false" [value]="currentVolume" (ionChange)="changeVolume($event)">
                    <ion-icon slot="start" size="small" name="volume-mute" color="light" (click)="volumeDown()"></ion-icon>
                    <ion-icon slot="end" size="small" name="volume-high" color="light" (click)="volumeUp()"></ion-icon>
                </ion-range>
            </div>
            <ion-button slot="icon-only" (click)="toggleFullScreen()">
                <ion-icon name="expand" size="small" [color]="fixedControls ? 'dark' : 'light'"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</div>
