<ion-content>
    <div class="page-container">
        <div class="overlay gradient-green">
            <ion-card class="hide-box-shadow" style="margin-top: 0;margin-bottom: 0;">
                <ion-card-header style="padding-bottom: 0;">
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button [disabled]="isStarted" (click)="dismissModal()">
                                <ion-icon name="arrow-back" color="light"></ion-icon>
                                &nbsp;
                                <ion-label color="light">Back</ion-label>
                            </ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                    <p class="ion-text-center">
                        <countdown class="countdowmn" #countdown [config]="{  format: 'mm:ss' }"
                            (finished)="finishedExercise()" (event)="handleEvent($event)"></countdown>
                    </p>
                </ion-card-header>
                <!-- <ion-card-content>
                    <ion-card-content class="ion-text-center color-white time-counts-label"> <br>
                    </ion-card-content>
                </ion-card-content> -->
            </ion-card>
            <div class="breathing-holder-container" [ngClass]="breathingType + ' ' + stateClass">
                <div class="breathing-spinner">
                    <label class="ion-text-center text-uppercase breathing-state">{{stateLabel}}</label>
                </div>
            </div>
            <ion-card class="button-container wide-full hide-box-shadow">
                <ion-card-header *ngIf="countdownDone" class="ion-text-center ion-no-padding">
                   
                    <ion-button fill="outline" color="light">{{zaehler}}</ion-button>
                   
                </ion-card-header> 
                <ion-card-content style="padding-top: 0;">
                    <!-- <ion-button class="white-green-button" type ="button" color="primary" expand="block" fill="outline">{{zaehler}}</ion-button> -->
                    
                    <ion-button [disabled]="disable_button" *ngIf="!isStarted" class="white-green-button" type="button" expand="block"
                        color="primary" (click)="prepareCountDown()">
                        {{language.getWordByLanguage('start')}}
                    </ion-button>
                    <ion-button [disabled]="!disable_button" *ngIf="isStarted" class="white-green-button" type="button" expand="block"
                        color="primary" (click)="stopBreathing()">
                        {{language.getWordByLanguage('hold')}}
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </div>
        <!-- <div class="overlay gradient-green" *ngIf="isCountdown">
            <label class="countdown-time-label color-white">{{countdownTime}}</label>
        </div> -->
    </div>
    <audio id="countdown-player" src="../../../assets/sounds/prepare_countdown.mp3"></audio>
    <audio id="breathe-in-player" src="../../../assets/sounds/breathe_in.mp3"></audio>
    <audio id="breathe-out-player" src="../../../assets/sounds/breathe_out.mp3"></audio>
    <audio id="breathe-ended-player" src="../../../assets/sounds/finish_alarm.mp3"></audio>
</ion-content>