<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="loading-controller" *ngIf="isLoading">
    <div class="overlay" *ngIf="loadingOptions.overlay"></div>
    <div class="loading-spinner-container" [ngClass]="loadingOptions.position">
      <div class="loading-spinner-outer">
        <div class="loading-spinner-inner">
          <div class="loading-spinner-bubble"></div>
        </div>
      </div>
      <div class="loading-message color-white" *ngIf="loadingOptions.showMessage">{{loadingOptions.message}}</div>
    </div>
  </div>
</ion-app>