<ion-content>
  <div class="overlay" style="background: linear-gradient(to left, #0b9da6, #10d9b3);">
    <ion-card class="wide-horizontal hide-box-shadow m-0">
      <ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start" (click)="navigateToBack()">
            <ion-button slot="icon-only">
              <ion-icon name="arrow-back" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="light font-20">
            {{language.getWordByLanguage('updateProfile')}}
          </ion-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-card-content>
        <!-- <div class="card">
          <div class="header">
            <div class="avatar">
              <ion-button class="width-150" fill="clear" expand="full" (click)="selectImage()">
                <ion-img src={{userData.photo}} #photo></ion-img>
              </ion-button>
            </div>
          </div>
        </div> -->

        <div class="card-body" style="background: linear-gradient(to left, rgba(11, 157, 166, 0.8), rgba(16, 217, 179, 0.8));padding-top: 0;">
          <div class="user-meta ion-text-center">
            <ion-item style="margin: 0px;">
              <ion-label class="font-poppins" position="floating" color="light">{{language.getWordByLanguage('name')}}</ion-label>
              <ion-input type="text" [(ngModel)]="userData.name" clear-input="true" #name></ion-input>
            </ion-item>

            <ion-item style="margin: 0px;">
              <ion-label class="font-poppins" position="floating" color="light">{{language.getWordByLanguage('email')}}</ion-label>
              <ion-input type="email" [(ngModel)]="userData.email" clear-input="true" #email></ion-input>
            </ion-item>

            <ion-item class="m-0" style="margin: 0px;">
              <ion-label class="font-poppins" position="floating" color="light">{{language.getWordByLanguage('phoneNumber')}}</ion-label>
              <ion-input type="text" [(ngModel)]="userData.phone" clear-input="true" #phone></ion-input>
            </ion-item>

            <div class="d-flex">
              <ion-item class="width-50" style="margin: 0px 30px 0px 0px;">
                <ion-label class="font-poppins" position="floating" color="light">{{language.getWordByLanguage('countryCode')}}</ion-label>
                <ion-input type="text" [(ngModel)]="userData.country_code" clear-input="true" #countryCode></ion-input>
              </ion-item>

              <!--<ion-item class="width-50" style="margin: 0px;">
                <ion-label class="font-poppins" position="floating" color="light">{{language.getWordByLanguage('dialCode')}}</ion-label>
                <ion-input type="text" [(ngModel)]="userData.dial_code" clear-input="true" #dialCode></ion-input>
              </ion-item>  -->
            </div>

            <!-- <h6 class="ranking level">
                  {{language.getWordByLanguage('level')}}:
              <ion-chip>
                <ion-input class="level-input" type="number" [(ngModel)]="userData.user_level" clear-input="true" #userLevel></ion-input>
              </ion-chip>
            </h6> -->
          </div>
          <br /><br />
          <ion-button class="white-green-button" type="button" expand="block" color="primary" (click)="updateProfile()">{{language.getWordByLanguage('updateProfile')}}</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>