ion-content {
    --background: url(../../../assets/images/man-logo.png) no-repeat top cover #fff;
    position: relative;
    width: 100%;
}

.m-0 {
    margin: 0px;
}

ion-toolbar {
    --background: transparent;
}

.input {
    background: #3880ff;
    color: blue;
}

.font-25 {
    font-size: 25px;
}

.actionSheet {
    color: black;
    font: 40px;
}

ion-card {
  ion-card-content {
    padding-left: 0px;
    padding-right: 0px;
    .bubble-image {
      display: block;
      width: 50px;
      margin: 30px auto 0 auto;
    }

    ion-item {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
}

.card {
    .header {
        height: 110px;

        .avatar {
            width: 170px;
            height: 100px;
            position: relative;
            margin: 0 auto;

            ion-button {
                position: absolute;
                top: 20px;
                margin: 0px;
                border-radius: 50%;
            }

            ion-img {
                display: block;
                border-radius: 50%;
                width: 150px;
                position: absolute;
                border: 8px solid #9Dc912;
                background-color: #fff;
            }

            .width-150 {
                width: 150px;
                height: 150px;
            }

        }
    }
}

.card-body {
    background-color: #618685;
    padding: 30px;
    // height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 20px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }

        .level {
            margin: 0px;
            top: 145px;
            right: 0px;
            width: 110px;
            position: absolute;
            color: black;
        }

        .upload {
            margin: 0px;
            top: 145px;
            left: 0px;
            width: 110px;
            position: absolute;
            color: black;
        }

        .level-input {
            width: 14px;
        }

        .d-flex {
            display: flex;
        }

        .width-50 {
            width: 50%;
        }

        .ml-20 {
            margin-left: 20px;
        }
    }
}

.pt-15 {
    padding-top: 15px;
}

.m-0 {
    margin: 0px;
}