<ion-content>
    <div class="page-container gradient-green dark">
        <ion-card class="wide-full hide-box-shadow">
            <ion-card-header>
                <ion-card-title class="ion-text-center text-uppercase color-white">
                    {{language.getWordByLanguage('coachingCheck')}}
                </ion-card-title>
            </ion-card-header>
        </ion-card>
        <div class="slides-container ion-padding" >
            <ion-slides #slides (ionSlideDidChange)="slideChanged()" style="height: 370px;">
                <ion-slide *ngFor="let question of questions; let i = index">
                    <div class="survey-question color-white text-bold">
                        {{language.getCurrentLanguage() == 'english' ? question.question.question_in_english : question.question.question_in_french}}
                    </div>
                    <div class="answer-container">
                        <ul class="answers-list no-margin"
                            [ngClass]="hasScore[i] + ' score-' + getAnswerIndex(i)" *ngIf="question.answers.length > 0">
                            <li class="answer-item ion-text-left color-white" style="margin-top: -1px;"
                                [ngClass]="getAnswerIndex(i) === (j + 1) ? 'active' : ''"
                                *ngFor="let answer of question.answers; let j = index;" (click)="setAnswer(i, answer.id)">
                                {{language.getCurrentLanguage() == 'english' ? answer.answer_in_english : answer.answer_in_french}}
                            </li>
                        </ul>
                        <ion-item *ngIf="question.answers.length == 0">
                            <ion-label position="floating" color="light">Your answer</ion-label>
                            <ion-input class="font-poppins color-white" type="text" (ionChange)="setAnswer(i, $event.detail.value)"></ion-input>
                        </ion-item>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="bottom-bar ion-text-center">
            <div class="buttons-container">
                <ion-row>
                    <ion-col size="5">
                        <ion-button class="white-green-button" type="button" expand="block" color="primary"
                                    [disabled]="currentIndex == 0" (click)="prevQuestion()">
                            <ion-icon name="arrow-back"></ion-icon> &nbsp; Back
                        </ion-button>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col size="5">
                        <ion-button class="white-green-button" type="button" expand="block" color="primary"
                                    (click)="nextQuestion()">
                            Next &nbsp;
                            <ion-icon name="arrow-forward"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
            <label class="secure-store color-white">
                {{bottomTitles[language.getCurrentLanguage()]}}
            </label>
            <div class="pagination-stepper">
                <ul class="stepper no-padding">
                    <li class="stepper-page" *ngFor="let question of questions; let i = index;"
                        [ngClass]="currentIndex == i ? 'active' : ''" (click)="slideMove(i)">{{i + 1}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>
