<ion-content>
    <div class="page-container gradient-green dark">
        <ion-card class="wide-full hide-box-shadow">
            <ion-card-header>
                <ion-card-title class="ion-text-center text-uppercase color-white">
                    {{language.getWordByLanguage(title)}}
                </ion-card-title>
            </ion-card-header>
        </ion-card>
        <div class="slides-container ion-padding" *ngIf="type === 2">
            <div class="survey-question color-white text-bold">
                {{language.getWordByLanguage('weeklyWellbeingCheckAnswer')}}
            </div>
            <!-- <ion-list> -->
            <ion-item lines="none">
                <ion-label class="color-white text-bold">{{language.getWordByLanguage('yourweekoverall')}}</ion-label>
                <ion-rating [rate]="ratingweekoverall" (rateChange)="ratingweekoverall = $event"></ion-rating>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="color-white text-bold">{{language.getWordByLanguage('yourenergylevel')}}</ion-label>
                <ion-rating [rate]="ratingenergylevel" (rateChange)="ratingenergylevel = $event"></ion-rating>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="color-white text-bold">{{language.getWordByLanguage('yourmotivationlevel')}}
                </ion-label>
                <ion-rating [rate]="ratingmotivationlevel" (rateChange)="ratingmotivationlevel = $event"></ion-rating>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="color-white text-bold">{{language.getWordByLanguage('yourworkload')}}</ion-label>
                <ion-rating [rate]="ratingworkload" (rateChange)="ratingworkload = $event"></ion-rating>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="color-white text-bold">{{language.getWordByLanguage('yourstresslevel')}}</ion-label>
                <ion-rating [rate]="ratingstresslevel" (rateChange)="ratingstresslevel = $event"></ion-rating>
            </ion-item>
            <!-- </ion-list> -->
            <ion-row>
                <ion-col size="12">
                    <ion-button class="white-green-button" type="button" expand="block" color="primary"
                     (click)="navigateToWeeklySurveyScore('main')" > 
                        
                        {{buttonTitle[language.getCurrentLanguage()]}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>

        <div class="slides-container ion-padding" style="padding-top: 0;padding-bottom: 0;" *ngIf="type != 2">
            <ion-slides #slides (ionSlideDidChange)="slideChanged()">
                <ion-slide *ngFor="let question of questions; let i = index">
                    <div class="survey-question color-white text-bold">
                        {{language.getCurrentLanguage() == 'english' ? question.in_english : question.in_french}}
                    </div>
                    <div class="answer-container">
                        <ul class="answers-list no-margin" [ngClass]="hasScore[i] + ' score-' + scores[i]">
                            <li class="answer-item ion-text-left color-white"
                                [ngClass]="scores[i] > 0 && scores[i] <= 4 - j ? 'passed' : ''"
                                *ngFor="let answer of answers; let j = index;" (click)="setScore(i, j)">
                                {{language.getCurrentLanguage() == 'english' ? answer.answer_in_english : answer.answer_in_french}}
                            </li>
                        </ul>
                    </div>
                </ion-slide>
                <ion-slide *ngIf="!type">
                    <div class="survey-question color-white text-bold">
                        {{lastQuestion.question}}
                    </div>
                    <ion-list>
                        <ion-item *ngFor="let answer of lastQuestion.answers; let i = index;">
                            <ion-checkbox slot="start" color="light" (ionChange)="answerLastQuestion($event, i)">
                            </ion-checkbox>
                            <ion-label class="font-poppins" color="light">{{answer}}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="bottom-bar ion-text-center" style="padding-top: 0;" *ngIf="type != 2">
            <div class="buttons-container">
                <ion-row *ngIf="type ? (currentIndex < 4) : (currentIndex < 5)">
                    <ion-col size="5">
                        <ion-button class="white-green-button" type="button" expand="block" color="primary"
                            [disabled]="currentIndex == 0" (click)="prevQuestion()">
                            <ion-icon name="arrow-back"></ion-icon> &nbsp; Back
                        </ion-button>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col size="5">
                        <ion-button [disabled]="scores[currentIndex] == 0" class="white-green-button" type="button" expand="block" color="primary"
                            (click)="nextQuestion()">
                            Next &nbsp;
                            <ion-icon name="arrow-forward"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="type ? (currentIndex >= 4) : (currentIndex >= 5)">
                    <ion-col size="12">
                        <ion-button class="white-green-button" type="button" expand="block" color="primary"
                            (click)="navigateToSurveyScore()">
                            {{buttonTitle[language.getCurrentLanguage()]}} 
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
            <label class="secure-store color-white">
                {{bottomTitles[language.getCurrentLanguage()]}}
            </label>
            <div class="pagination-stepper">
                <ul class="stepper no-padding">
                    <li class="stepper-page" [ngClass]="currentIndex == 0 ? 'active' : ''" (click)="slideMove(0)">1</li>
                    <li class="stepper-page" [ngClass]="currentIndex == 1 ? 'active' : ''" (click)="slideMove(1)">2</li>
                    <li class="stepper-page" [ngClass]="currentIndex == 2 ? 'active' : ''" (click)="slideMove(2)">3</li>
                    <li class="stepper-page" [ngClass]="currentIndex == 3 ? 'active' : ''" (click)="slideMove(3)">4</li>
                    <li class="stepper-page" [ngClass]="currentIndex == 4 ? 'active' : ''" (click)="slideMove(4)">5</li>
                    <li *ngIf="!type" class="stepper-page" [ngClass]="currentIndex == 5 ? 'active' : ''"
                        (click)="slideMove(5)">6</li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>