<ion-content>
  <div class="overlay gradient-green dark">
    <ion-card class="wide-horizontal hide-box-shadow">
      <ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start" (click)="navigateToLogin()">
            <ion-button slot="icon-only">
              <ion-icon name="arrow-back" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="light">
            {{language.getWordByLanguage('forgotPassword')}}
          </ion-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <img class="bubble-image" src="../../../assets/images/flower.png"  alt="Bubble Image"/>
        <ion-item class="border-white">
          <ion-label class="font-poppins" position="floating" color="light">
            {{language.getWordByLanguage('proEmail')}}
          </ion-label>
          <ion-input class="color-white font-poppins" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-button class="white-green-button" type="button" expand="block" color="primary" (click)="navigateToResetPassword()">
          {{language.getWordByLanguage('resetPassword')}}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
