<ion-content>
  <div class="page-container has-header" (scroll)="checkScroll($event)">
    <ion-card class="wide-full hide-box-shadow">
      <ion-card-content>
        <ion-card class="wide-full">
          <app-video-player [source]="video.file_link" [fixedControls]="false" [controls]="true" ></app-video-player>
        </ion-card>
        <ion-row>
          <ion-col size="3">
            <ion-chip (click)="likeVidoe()" class="ion-chip-custom">
              &nbsp;<ion-icon name="ios-thumbs-up" no-margin></ion-icon>&nbsp;
              <ion-label>{{video?.likes}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="3">
            <ion-chip class="ion-chip-custom" (click)="scrollToElement('commentsElement')">
              &nbsp;<ion-icon name="ios-chatboxes" no-margin></ion-icon>&nbsp;
              <ion-label>{{totalComment?.total}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="6" justify-content-end>
            <ion-chip class="ion-float-end" color="secondary" (click)="navigatePage('lesson-quiz')">
              <ion-label>Quiz</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-padding">
          {{language.getWordByLanguage('videoSummary')}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{language.getCurrentLanguage() == 'english' ? video.description_in_english : video.description_in_french}}
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-textarea placeholder="{{language.getWordByLanguage('AddaComment')}}" [(ngModel)]="comment"></ion-textarea>
        <ion-chip color="primary" (click)="addComment()">
          {{language.getWordByLanguage('Comment')}}
        </ion-chip>
      </ion-item>
      <ion-card id="commentsElement">
        <!-- Comments  -->
        <ng-container *ngFor="let comment of comments | slice:0:limitTo;  let i=index;">
          <ion-card-content *ngIf="comment">
            <b>{{comment.pseudoname}}</b>
            <p>{{comment.comment}}</p>
            <ion-row align-items-center>
              <ion-col size="4">
                <ion-note>{{comment.date | amTimeAgo}}</ion-note>
              </ion-col>
              <ion-col>
                <ion-chip class="ion-chip-custom" (click)="like(comment)">
                  &nbsp;<ion-icon name="ios-thumbs-up" no-margin></ion-icon>&nbsp;
                  <ion-label *ngIf="comment.likes != 0">{{comment.likes}}</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col>
                <ion-chip class="ion-chip-custom" (click)="disLike(comment)">
                  &nbsp;<ion-icon name="ios-thumbs-down" no-margin></ion-icon>&nbsp;
                  <ion-label *ngIf="comment.dislikes != 0">{{comment.dislikes}}</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col (click)="reply(comment, i, -1)">
                <ion-text color="primary">{{language.getWordByLanguage('Reply')}}</ion-text>
              </ion-col>
            </ion-row>

            <!-- for comment reponse input -->
            <ion-item *ngIf="comment?.replyInput">
              <ion-textarea placeholder="Reply" [(ngModel)]="comment"></ion-textarea>
              <ion-chip color="primary" (click)="addComment()">
                Comment
              </ion-chip>
            </ion-item>

            <!-- Replies -->
            <ng-container *ngFor="let cmnt of comment?.replies; let j=index;">
              <div class="ion-padding-start">
                <b>{{cmnt.pseudoname}}</b>
                <p>{{cmnt.comment}}</p>
                <ion-row align-items-center>
                  <ion-col size="4">
                    <ion-note>{{cmnt.date | amTimeAgo}}</ion-note>
                  </ion-col>
                  <ion-col>
                    <ion-chip class="ion-chip-custom" (click)="like(cmnt)">
                      &nbsp;<ion-icon name="ios-thumbs-up" no-margin></ion-icon>&nbsp;
                      <ion-label *ngIf="cmnt.likes != 0">{{cmnt.likes}}</ion-label>
                    </ion-chip>
                  </ion-col>
                  <ion-col>
                    <ion-chip class="ion-chip-custom" (click)="disLike(cmnt)">
                      &nbsp;<ion-icon name="ios-thumbs-down" no-margin></ion-icon>&nbsp;
                      <ion-label *ngIf="cmnt.dislikes != 0">{{cmnt.dislikes}}</ion-label>
                    </ion-chip>
                  </ion-col>
                  <ion-col (click)="reply(comment, i, j)">
                    <ion-text color="primary">{{language.getWordByLanguage('Reply')}}</ion-text>
                  </ion-col>
                </ion-row>
              </div>

            <!-- for reply reponse input -->
            <ion-item *ngIf="cmnt?.replyInput">
              <ion-textarea placeholder="Reply" [(ngModel)]="comment"></ion-textarea>
              <ion-chip color="primary" (click)="addComment()">
                Comment
              </ion-chip>
            </ion-item>

            </ng-container>

          </ion-card-content>
        </ng-container>
        
        <p class="ion-text-center color-primary" *ngIf="comments?.length > limitTo" (click)="showMore()">{{language.getWordByLanguage('ShowMore')}}</p>
      </ion-card>
    </ion-list>

    <!-- <ion-card class="gradient-green to-left dark">
      <h5 class="ion-text-center color-white">
        {{language.getWordByLanguage('takeabreath')}}
      </h5>
      <div class="card-image-title ion-text-center text-uppercase" style="background: transparent;">
      </div>
      <div class="gradient-underline gradient-white"></div>
      <ion-card-header class="no-padding">
        <ion-row class="ion-padding">
          <ion-col size="8">
            <ion-card-title class="font-poppins color-white">
              {{language.getWordByLanguage('breathingExercise')}}
            </ion-card-title>
            <ion-card-subtitle class="color-white" style="margin-top: 5px;">
              Sub Title
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-button class="white-green-button" type="button" expand="block" color="primary"
              style="height: 40px;font-size: 10px;" (click)="navigateToTools()">
              {{language.getWordByLanguage('play')}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card> -->