.video-container {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background: rgba(0, 0, 0, .5);
}
.icon-medium{
  font-size: 28px;
}

ion-item{
  --inner-padding-end: 0;
  ion-textarea{
    --padding-start: 8px;
    color: #a1a1a1;
  }
}
.ion-chip-custom{
  ion-label{
    color: #a1a1a1;
  }
}
ion-note{
  color: var(--ion-color-medium-tint);
}
.color-primary{
  color: var(--ion-color-primary);
}
