.page-container {
  background-repeat: no-repeat;
  background-size: calc(100% - 20px);
  background-position: 10px 10px;
}

.buttons-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: white;
}
