.timeline {
  list-style: none;
  padding: 0;
  margin: 0;

  .timeline-item {
    display: block;
    padding-bottom: 20px;

    .timeline-title {
      display: block;
      font-size: 18px;
    }

    .timeline-description {
      display: block;
      //margin-top: 5px;
      font-size: 13px;
    }
  }
}

.timeline.side-left {
  .timeline-item {
    padding-left: 30px;
    border-left: 3px solid #E7E8E8;
  }

  .timeline-item::before {
    float: left;
    content: ' ';
    width: 13px;
    height: 13px;
    margin-left: -38px;
    border-radius: 50%;
    background: #10D9B3;
  }
}

.timeline.side-right {
  .timeline-item {
    padding-right: 30px;
    border-right: 3px solid #E7E8E8;

    .timeline-title {
      text-align: right;
    }

    .timeline-description {
      text-align: right;
    }
  }

  .timeline-item::before {
    float: right;
    content: ' ';
    width: 13px;
    height: 13px;
    margin-right: -38px;
    border-radius: 50%;
    background: #10D9B3;
  }
}
