<ion-content>
  <div class="overlay gradient-green dark pt-20" style="padding-top: 20px;">
    <ion-card class="wide-horizontal hide-box-shadow">
      <ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start" (click)="navigateToLogin()">
            <ion-button slot="icon-only">
              <ion-icon name="arrow-back" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="light">
            {{language.getWordByLanguage('editProfile')}}
          </ion-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-card-content>
        <div class="card">
          <div class="header">
            <div class="avatar">
              <img src="../../../assets/images/icon_user_avatar.png" alt="">
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="user-meta ion-text-center">
            <h3 class="playername">Roger Federer</h3>
            <h5 class="country">Switzerland</h5>
            <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
              </ion-chip>
            </h6>
          </div>
          <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
          <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
          <ion-button expand="full" color="secondary">View profile at ATP</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>