<ion-header>
    <ion-toolbar style="margin-top: 20px;height: 60px;">
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="dismissModal()">
                <ion-icon name="arrow-back" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Select a country</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Search countries" [(ngModel)]="searchKey" (ionChange)="searchCountries()">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="list-container ion-padding">
        <ion-list>
            <ion-item *ngFor="let country of countriesList" (click)="dismissModal(country)">
                <img class="country-flag" [ngClass]="'iti__' + country.iso2"/>
                <ion-label class="country-name">{{country.name}}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
